<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Yeti Yogurt</key>
	<string></string>
	<key>Subway</key>
	<string></string>
	<key>Renaissance Coffee</key>
	<string></string>
	<key>Quesada</key>
	<string></string>
	<key>Plum Garden Noodle House</key>
	<string></string>
	<key>Pearl Fever Tea House</key>
	<string></string>
	<key>Nesters Market</key>
	<string></string>
	<key>Nature&apos;s Garden</key>
	<string></string>
	<key>Ichibankan Express</key>
	<string></string>
	<key>Himalayan Peak</key>
	<string></string>
	<key>Donair Town</key>
	<string></string>
	<key>Club Illia</key>
	<string></string>
	<key>Bamboo Garden</key>
	<string></string>
	<key>Pizza Hut</key>
	<string></string>
	<key>Spicy Stone</key>
	<string></string>
</dict>
</plist>
