<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>The Ladle</key>
	<string></string>
	<key>Koya Japan</key>
	<string></string>
	<key>Highland Pub</key>
	<string></string>
	<key>Higher Grounds Coffee Shop</key>
	<string></string>
	<key>Guadalupe Handmade Burritos</key>
	<string></string>
	<key>Gawon Korean Restaurant</key>
	<string></string>
	<key>Bubble World</key>
	<string></string>
</dict>
</plist>
